/* :root {
    --quattro: font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Quattrocento', serif;
    wont work in this case, may have to make a class with fonts instead
    --lora: font-family: 'Lora', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Quattrocento', serif;

} */

body {
    margin: 0;
    font-family: 'Lora', serif;
    width: 100%;
    height: 100%;
    color: #ffff;
    background-color: #161616;
}

#navbar-content {
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 20px 40px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.3);   */
    background: linear-gradient(to bottom, black, transparent 100%);
    font-size: 0.9rem;
}
#navbar-content a {
    font-size: 0.9rem;
}
#dropdown {
    display: none;  
    float: right; 
    
}
/* navbar for mobile */
@media screen and (max-width: 600px) {
    .nomobile {
        display: none;
    }
    #dropdown {
        display: flex;
    }
}
div, p {
    margin: 0;
    padding: 0;
}

#navbar-content a {
    text-decoration: none;
    color: #ffff;
}

.header-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('concrete-dark.jpg');

    /* background-image: url(concrete-dark.jpg); */
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: left 20%;
    /* padding-top: 20px; -> pretty sure obselete */ 
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: fixed;
    z-index: 1;
    
}

h1 {
    font-family: 'Quattrocento', serif;
    margin: 0;
    font-size: 10vw;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}

/* #title-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

#titles {
   padding: 95px 40px 40px 25px;
}

#title-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 2;
    position: relative;

}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    
}

.main-background {
    width: 100%;
    background-color: #161616;
    margin-top: 30vh;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.bio {
    font-size: 1.5rem;
    text-align: center;
    max-width: 40ch;
    background-color: #161616;
    padding: 18px;
    border-radius: 2px;
    margin: 0;
    z-index: 99;
}

.bio i {
    display: inline-block;
    position: relative;
    left: .5rem;
    top: .4rem;
    
}

.bio a {
    color: white;
}













