/* :root {
    --quattro: font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Quattrocento', serif;
    wont work in this case, may have to make a class with fonts instead
    --lora: font-family: 'Lora', serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Quattrocento', serif;

} */

/* monument */

@font-face {
    font-family: "Monument";
    src: url(fonts/PPMonumentExtended-Regular.otf) format("opentype");
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Monument';
    width: 100%;
    height: 100%;
    color: #ffff;
    background-color: #161616;
    
    
}
::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#navbar-content {
    position: fixed;
    z-index: 15;
    top: 0;
    padding: 20px 40px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.3);   */
    background: linear-gradient(to bottom, black, transparent 100%);
    
    font-size: 0.9rem;
}
#navbar-content a {
    font-size: .85rem;
    color: #DCFC37;
}
#dropdown {
    display: none;  
    float: right; 
    
}
/* navbar for mobile */
@media screen and (max-width: 600px) {
    .nomobile {
        display: none;
    }
    #dropdown {
        display: flex;
    }
}
div, p {
    margin: 0;
    padding: 0;
}

#navbar-content a {
    text-decoration: none;
    color: #ffff;
}

.header-background {
    /* background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(148, 148, 148, 0.5)), url('images/concrete-dark.jpg'); */
    background: linear-gradient(to top, transparent, #0000),
    url(images/concrete-dark.jpg);
    /* doesnt work because its to the bottom of the img not to the bottom of whats visible in the background. */
    /* background-image: url(concrete-dark.jpg); */
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: left 20%;
    /* padding-top: 20px; -> pretty sure obselete */ 
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: fixed;
    z-index: 1;
}


h1 {
    font-family: 'Monument';
    margin: 0;
    /* font-size: 10vh; */
    font-size: 8vw;
    font-weight: 800;
    text-align: center;
    overflow: hidden;
}

/* #title-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.titles {
   padding: 60px 80px 40px 80px;
   max-height: 40vh;

}

#title-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    z-index: 6;
    max-width: 100%;

}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    z-index: 6;
    max-width: 100%;
}

.main-background {
    width: 100%;
    background-color: #161616;
    margin-top: 20vh;
    /* broken but ideal usage if made to work */
    /* margin-top: calc((100vw / 100vh) * 100); */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
/* BEYOND CHALKED NEEDS WORK OR SOMETHING CAUSE HOLY */
#halfvw {
    width: 200vw;
}
#halfvw img {
    width: 80%; 
    height: auto;
    margin: 50px 50px 50px 50px;
    position: relative;
    top: 30px;
    left: 100px;
    border-radius: 6px;
}
@media only screen and (max-width: 600px) {
    #halfvw {
        width: 50%;
        align-self: center;
        position: relative;
        top: -100px;
        right: 250px;
    }
    .main-background {
        flex-flow: column-reverse nowrap;
    }
}
.bio {
    font-size: 3vmin;
    text-align: center;
    max-width: 40ch;
    /* background-color: #161616; */
    /* background-color: rgba(0, 0, 0, .3); */
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3), transparent 100%);
    
    padding: 15px 15px 54px 18px;
    border-radius: 2px;
    margin: 0;
    z-index: 6;
    max-width: 1000px;
}

.bio i {
    display: inline-block;
    position: relative;
    left: .5rem;
    top: 1.9rem;
}
#spinning-logo {
    display: inline;
    position: static;
    color: #DCFC37
}

.bio a {
    color: white;
}

#portfolio-background {
    margin-top: 500px;
    display: block;
    text-align: center;
    background: linear-gradient(to top, transparent, #161616),
    url(images/sky-light.jpg);
    z-index: 3;
}

/* portfolio rows and columns */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 50px 30px 50px;
    width: 100%;
    max-width: none;
}
/* serious issues IMPORTANT */
/* :nth-child(-n + 3 of div.row) {
    flex-direction: row-reverse;
} */

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
.col a {
    text-decoration: none;
    color: #0000;
}
#portfolio-title {
    display: block;
    background: none;
    padding: 150px 0px 30px 0px;
}
#portfolio-title-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
#portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    
}

.project-wrapper {
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 100%);
    /* background: linear-gradient(to top, rgba(255, 65, 65, 0.3), transparent 100%); */
    padding: 30px 0px 30px 0px;
    /* border-radius: 20px; */
    border-radius: 6px;
    max-width: 1200px;
    margin-bottom: 100px;
}

.project-wrapper img {
    width:100%; 
    height:auto; 
    max-width: 40vw;
}

.portfolio-link a {
    color: white;
    font-size: 2rem;
    padding: 0px 5px 0px 5px;
}

#space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer {
    padding: 20px 0px 20px 0px;
}

#footer a {
    padding: 0px 5px 0px 5px;
    color: #ffff;
}

.mini {
    display: block;
    font-size: 1rem;
    color: orange;
    /* border: 2px solid orange; */
    float: right;

}
#mini a {
    font-size: 1rem;
    color: orange;
    text-decoration: none;
}

.mini a i {
    font-size: 3rem;
    margin: 0px 10px 0px 10px;
    color: rgba(255, 166, 0, 0.2);

}

#modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 18;
    background-color: rgba(22, 22, 22, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#modal-content {
    /* width: 90vw;
    height: 90vh; 
    /* z-index: 19; */
    height: 90vh;
    width: 90vw;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 30px;
    color: #DCFC37;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}

#modal-footer {
    float: bottom;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#exit {
    position: absolute;
    font-size: 3rem;
    top: 5vh;
    right: 5vw;
}


