
@font-face {
    font-family: "Monument";
    src: url(fonts/PPMonumentExtended-Regular.otf) format("opentype");
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Monument';
    width: 100%;
    height: 100%;
    color: #ffff;
    background-color: #161616;
    
    
    
}
::-webkit-scrollbar {
    display: none;
  }
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

#navbar-content {
    position: fixed;
    z-index: 15;
    top: 0;
    padding: 20px 40px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.3);   */
    background: linear-gradient(to bottom, black, transparent 100%);
    
    font-size: 0.9rem;
}
#navbar-content a {
    font-size: .85rem;
    color: #DCFC37;
}
#dropdown {
    display: none;  
    float: right; 
    
}
/* navbar for mobile */
@media screen and (max-width: 600px) {
    .nomobile {
        display: none;
    }
    #dropdown {
        display: flex;
    }
}
div, p {
    margin: 0;
    padding: 0;
}

#navbar-content a {
    text-decoration: none;
    color: #ffff;
}

.header-background {
    /* background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(148, 148, 148, 0.5)), url('images/concrete-dark.jpg'); */
    background: linear-gradient(to bottom, transparent, #161616),
    url(images/concrete-dark.jpg);
    /* doesnt work because its to the bottom of the img not to the bottom of whats visible in the background. */
    /* background-image: url(concrete-dark.jpg); */
    margin: 0;
    padding: 0;
    width: 100%;
    background-position: left 20%;
    /* padding-top: 20px; -> pretty sure obselete */ 
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: fixed;
    z-index: 1;
    pointer-events: none;
}


h1 {
    font-family: 'Monument';
    margin: 0;
    /* font-size: 10vh; */
    font-size: 8vw;
    font-weight: 800;
    text-align: center;
    overflow: hidden;
}

/* #title-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.titles {
   padding: 60px 80px 40px 80px;
   max-height: 40vh;

}

#title-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    z-index: 6;
    max-width: 100%;

}

#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    z-index: 6;
    max-width: 100%;
}

.main-background {
    width: 100%;
    background-color: #161616;
    margin-top: 0;
    /* broken but ideal usage if made to work */
    /* margin-top: calc((100vw / 100vh) * 100); */
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px)
{
    .main-background {
        margin-top: 0vh;
    }
    #halfvw {
        width: 200vw;
}
.fade-trigger {
    margin-top: 0px;
}
}
/* BEYOND CHALKED NEEDS WORK OR SOMETHING CAUSE HOLY */
#halfvw {
    /* width: 200vw; */
}
#halfvw img {
    width: 80%; 
    height: auto;
    margin: 50px 50px 50px 50px;
    position: relative;
    top: 30px;
    left: 100px;
    border-radius: 6px;
}
@media only screen and (max-width: 600px) {
    #halfvw {
        width: 50%;
        align-self: center;
        position: relative;
        top: -100px;
        right: 250px;
    }
    .main-background {
        flex-flow: column-reverse nowrap;
    }
}
.bio {
    font-size: 3vmin;
    text-align: center;
    max-width: 40ch;
    /* background-color: #161616; */
    /* background-color: rgba(0, 0, 0, .3); */
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3), transparent 100%);
    
    padding: 15px 15px 54px 18px;
    border-radius: 2px;
    margin: 0;
    z-index: 6;
    max-width: 1000px;
}
@media screen and (max-width: 450px ) {

    .bio {
        max-width: 20ch;
        font-size: 5vmin;
    }

}
.bio i {
    display: inline-block;
    position: relative;
    left: .5rem;
    top: 1.9rem;
}
#spinning-logo {
    display: inline-block;
    position: static;
    color: #DCFC37
}

.bio a {
    color: white;
}

#portfolio-background {
    margin-top: 500px;
    display: block;
    text-align: center;
    background: linear-gradient(to top, transparent, #161616),
    url(images/sky-light.jpg);
    z-index: 3;
}

/* portfolio rows and columns */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 50px 30px 50px;
    width: 100%;
    max-width: none;
}
/* serious issues IMPORTANT */
/* :nth-child(-n + 3 of div.row) {
    flex-direction: row-reverse;
} */

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
.col a {
    text-decoration: none;
    color: #0000;
}
#portfolio-title {
    display: block;
    background: none;
    padding: 150px 0px 30px 0px;
}
#portfolio-title-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
#portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    
}

.project-wrapper {
    /* display: block; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 100%);
    /* background: linear-gradient(to top, rgba(255, 65, 65, 0.3), transparent 100%); */
    padding: 30px 0px 30px 0px;
    /* border-radius: 20px; */
    border-radius: 6px;
    max-width: 1200px;
    margin-bottom: 100px;
}

.project-wrapper img {
    width:100%; 
    height:auto; 
    max-width: 40vw;
}
.portfolio-link {
    padding-top: 50px;
}
.portfolio-link a {
    color: white;
    font-size: 2rem;
    padding: 0px 10px 0px 10px;
}
.portfolio-link a i:hover {
    transform: rotate(10deg)
}


#space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 750px) {
    
    #space-evenly {
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    }
}

#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer {
    padding: 20px 0px 20px 0px;
    border-right:2px #DCFC37 solid;
}

@media screen and (max-width: 500px){
    #footer {
        font-size: 4vw;
        
    }
    
}

#footer a {
    padding: 0px 5px 0px 5px;
    color: #ffff;
}

.mini {
    display: block;
    font-size: 1rem;
    color: orange;
    /* border: 2px solid orange; */
    float: right;
    font-weight: 600;
    

}
#mini a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

.mini a i {
    font-size: 3rem;
    margin: 0px 10px 0px 10px;
    color: #DCFC37;

}

#mini-about {
    display: block;
    font-size: 1rem;
    color: #DCFC37;
    float: none;
    margin: 50px 0px 100px 0px;
}

#mini-about a {
    font-size: 3rem;
    color: #DCFC37;
    text-decoration: none;
    position: relative;
    left: 1vw;
}

#jump-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 18;
    background-color: rgba(22, 22, 22, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    right: 3000px;
}

#modal-content {
    /* width: 90vw;
    height: 90vh; 
    /* z-index: 19; */
    height: 90vh;
    width: 90vw;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 30px;
    color: #DCFC37;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    
}

#modal-about {
    max-width: 700px;
}
#modal-footer {
    float: bottom;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-footer a {
    font-size: 3rem;
    text-decoration: none;
    color:#DCFC37;
}
@media screen and (max-width: 500px) {
    #modal-footer a {
        font-size: 7vw;
    }
}

button:hover {
    transform: rotate(.3deg)
}

#modal-footer a:hover, #modal-footer button:hover {
    transform: rotate(-10deg)
}

#exit {
    position: absolute;
    font-size: 3rem;
    top: 5vh;
    right: 5vw;
}

@media screen and (max-width: 1300px ) {
    #exit {
        font-size: 5vw;
    }
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

/* BARBA TRANSITION */
ul.transition {
    display: flex;
    position: fixed;
    z-index: 25;
    /* height: 100vh; */
    width: 100vw; 
    top: 3px;
    left: 0px;
    margin: 0;
    pointer-events: none;
    opacity: 1;
}

.transition li {
    transform:(scaleY(0));
    background: white;
    width: 100%;
    list-style-type: none;
    
}

.about-background {
    display: block;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.about-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#highlighted {
    color:#DCFC37
}

.bio #highlighted a {
    color:#DCFC37
}

@media screen and (max-width: 600px) {
    .about-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
/* contact form is of-about row */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #0000;
    border-radius: 5px;

}

.about-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .about-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.about-box {
    border: 2px solid white;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    max-width: 33ch;
    /* height: auto; */
}
#top {
    border: 2px solid #DCFC37;
    width: 50vw;
    margin-bottom: 30px;
    position: relative;
    right: 5vw;
    font-size: 2rem;
}

/* #top p {
    width: 100%;
    position: relative;
    overflow:
} */
@media screen and (max-width: 600px) {
    #top {
        border: 2px solid #DCFC37;
        width: 50vw;
        margin-bottom: 30px;
        position: relative;
        right: 5vw;
        font-size: 5vw;
    }
}


.about-box input {
    /* text-decoration: none; */
    color:  #0000;
    
}

.contacters {
    margin: 30px;
}

.contacters input {
    width: 100%;
    text-decoration: none;
    font: inherit;
}
.contacters textarea {
    width: 30vw;
    height: 30vh;
}

#textme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#emailme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contacters textarea {
    font-size: 2rem;
    font: inherit;
    
}

#contact-form-69 {
    border: 2px solid #DCFC37;
    border-bottom: none;
    background: linear-gradient(to bottom, transparent, #161616),
    url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#spinning-cog {
    margin-right: .5vw;
    font-size: 1vw;
    color: #DCFC37;
}

